/* - - - - - - GENERAL - - - - - - */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    scrollbar-gutter: auto;
}

body {
    background-color: #fff;
    font-family: "Lato";
    color: #000;
    --family-tittle: "Helvetica";
    --family-text: "Lato";
    --color-light-blue: rgb(121, 221, 255);
    --color-blue: #04324d;
    --color-orange: #fbad20;
    --color-green: #39a900;
    --color-dark-green: #216100;
    --kendo-color-primary: var(--color-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--family-tittle);
}

.k-expander-title {
    text-transform: initial;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-blue);
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

section {
    width: 100%;
    padding: 0px 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

#app__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
}

footer {
    background-color: var(--color-blue);
    color: #fffd;
    padding: 20px 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}

.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.image--cover {
    object-fit: cover;
}

.link--highlighted {
    background: var(--color-light-blue);
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* BACKGROUND-COLORS */

.bg--blue {
    background-color: var(--color-blue);
}

.bg--orange {
    background-color: var(--color-orange);
}

.bg--green {
    background-color: var(--color-green);
}

.bg--dark-green {
    background-color: var(--color-dark-green);
}

.bg--dark-green {
    background-color: var(--color-dark-green);
}

/* TYPOGRAPHY STYLES */

a {
    text-decoration: none;
}

.link {
    color: var(--color-green);
    text-decoration: underline;

    &:hover {
        color: var(--color-dark-green);
    }
}

/* Font Size based on tailwind */
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

/* Color */
.text--blue {
    color: var(--color-blue);
}

.text--orange {
    color: var(--color-orange);
}

.text--green {
    color: var(--color-green);
}

.text--dark-green {
    color: var(--color-dark-green);
}

.text--black {
    color: #000;
}

.text--white {
    color: #fff;
}

/* Font Weight based on tailwind */

.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

/* text align based on tailwind */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* BUTTONS */
.button--orange {
    background-color: var(--color-orange);
    font-weight: bold;
    font-size: 20px;
    color: #ffff;
}

.button--loading {
    background-color: gray;
    color: white;
    pointer-events: none;
    border: 1px solid transparent;
}

/*- - - - - -HEADER SECTION- - - - - -*/

.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 99;
    box-shadow: none;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 57px;
    height: 57px;
}

.k-menu-link-text,
.k-menu-expand-arrow svg {
    font-family: sans-serif;
    transition: color, scale 300ms;
    border: 0px;
    color: var(--color-blue);
}

.k-menu-item[tabindex="0"] span,
.k-menu-item[tabindex="0"] svg {
    color: green;
}

.k-menu-link:hover .k-menu-link-text,
.k-menu-link:hover .k-menu-expand-arrow svg {
    color: green;
    scale: 1.025;
}

#header__desktop {
    display: none;
}

/*- - - - - -HEADER QUERIES- - - - - -*/
@media screen and (min-width: 600px) {
    #header__desktop {
        display: block;
    }

    #header__mobile {
        display: none;
    }
}

/* BREADCRUMB STYLES */

.k-breadcrumb-link:hover {
    color: var(--color-dark-green);
}

.k-button-solid-primary:hover {
    background-color: var(--color-dark-green);
    border: 1px solid transparent;
}

/*DOCS STYLES*/

#docs__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;

    & > .header {
        flex: none;
    }
}

.docs__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.docs__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: initial;
    padding: 0px 20px;
    gap: 40px;
    overflow-y: scroll;
}

.accessibility {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 15px;

    & > h3 {
        border-bottom: #04324d solid 1px;
    }

    & a {
        text-decoration: underline;
    }

    & ul {
        padding-left: 25px;
    }
}

.accessibility__item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & code,
    & pre {
        font-size: 14px;
        line-height: 1.2 !important;
        border-radius: 5px;
    }
}

.docs__sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: initial;
    padding: 0px 10px;
    gap: 20px;
    overflow-y: scroll;
}

.docs__sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & a {
        color: #000;
        padding: 10px 8px;
        border-radius: 5px;
        transition: 200ms;

        &:hover {
            background-color: #d8d8d8;
        }
    }
}

.docs__search-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;

    & input[type="text"] {
        width: 100%;
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
}

.k-dropdownlist {
    font-size: 15px;
    width: 120px;
}

.accessibility--level-a,
.accessibility--level-aa,
.accessibility--level-aaa {
    display: none;
}

.docs__main:has(#c-a:checked) .accessibility--level-a,
.docs__main:has(#c-aa:checked) .accessibility--level-aa,
.docs__main:has(#c-aaa:checked) .accessibility--level-aaa {
    display: flex;
}

/* CAROUSEL */
.carousel__item {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.k-scrollview {
    border: 0px;
    margin-top: 20px;
    border-radius: 5px;
}

.k-scrollview-view {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.carousel--green .k-scrollview-view {
    color: #fff;
    background-color: var(--color-green);
}

.carousel--blue .k-scrollview-view {
    color: #fff;
    background-color: var(--color-blue);
}

.carousel__item__image {
    height: 220px;
    width: 220px;
    margin: 0px auto 20px;
    background-color: var(--color-green);
    mask: url("/mask.png") center no-repeat;
    mask-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel--green .carousel__item__image,
.carousel--blue .carousel__item__image,
.carousel--green .carousel__card,
.carousel--blue .carousel__card {
    background-color: #fff;
    color: #000;
}

.carousel__card {
    width: 100%;
    max-width: 420px;
    background-color: var(--color-green);
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-wrap: wrap;
}

.carousel__card button {
    background-color: var(--color-blue);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.k-scrollview-next,
.k-scrollview-prev {
    padding: 0px 10px;
    transition: 300ms;
}

.k-scrollview-prev:hover {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), transparent);
}
.k-scrollview-next:hover {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.3), transparent);
}

.k-scrollview-next svg,
.k-scrollview-prev svg {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    fill: black;
    border: 2px solid black;
}

@media screen and (max-width: 992px) {
    .carousel__item {
        padding: 10px;
        flex-direction: column;
    }
    .k-scrollview {
        height: 800px !important;
    }
    .docs__sidebar {
        flex: none;
        width: fit-content;
    }
}

@media screen and (max-width: 480px) {
    .text--truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
