*  {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e2eaff;
    color:#101632dd;
}

div,ul,nav,header,a,li,label,body{
    margin:0;
    padding: 0;
}

/*- - - - - -HEADER SECTION- - - - - -*/

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 20px;
    color: #48e;
}

.header__open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
} 

.header .header__checkbox {
    display: none;
}

.header__nav { /*Para que no consuma recursos*/
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    z-index: -1;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header__logo {
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color:inherit;
    text-decoration: none;
}

.header__nav-item a:not(:is(:hover,:active)){
    text-decoration: none;
}


/*- - - - - -HEADER QUERIES- - - - - -*/
@media screen and (min-width: 600px) {

    .header {
        padding: 20px 0;
        animation: header-movement both;
        animation-timeline:scroll();
        position: sticky;
        top: 0;
    }

    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
        background-color: initial;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 40px;
    }

    .header__open-nav-button {
        display: none;
    }
}
/*- - - - - -HEADER ENDS- - - - - -*/




/*- - - - - -PROFILE SECTION- - - - - -*/

.profile {
    container-name:profile;
    container-type: inline-size;
    animation: show 2.4s -.6s both;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1400px;
    background-color: #fff;
}

.profile__data-container {
    max-width: 600px;
    padding: 12px;
}

.profile__img-container {
    max-height: 500px;
    overflow: hidden;
}

.profile__img {
    max-width: 100%;
    width: 720px;
}

h1 {
    color: #26a;
}

.profile__skills-container h2 {
    color: #26a;
}

.profile__skill {
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    align-items: center;
}

.load-bar {
    border: 2px solid #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left: 0;
}

.profile__skill-name {
    color: #48e;
}

.profile__skills-container h2 + p {
    color: #000;
}

.load-bar__bar {
    background-color: #48e;
    border-radius: 6px;
    padding: 4px 6px;
}

.profile__description {
    color: #000;
}


.bar--80 {
    width: 100%;
}

.bar--70 {
    width: 100%;
}

.bar--60 {
    width: 100%;
}

.bar--50 {
    width: 100%;
}

/*- - - - - -PROFILE QUERIES- - - - - -*/

@container profile (min-width:720px){
    .profile__wrapper {
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        height: 90vh;
        margin: auto;
    }

    .profile__data-container {
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 0 25px 25px 0;
        box-shadow: 0 0 9px #0002;
    }

    h1 {
        margin-top: 0;
        font-size: 4rem;
        text-wrap: balance;
    }

    .profile__data {
        max-width: 620px;
    }

    .profile__img-container {
        max-height: initial;
        border-radius: 25px 0 0 25px;
        margin-right: 20px;
        
    }

    .profile__img {
        height: 100%;
        object-fit: contain;
        width: 620px;
    }
}

/*- - - - - -PROFILE ENDS- - - - - -*/


/*- - - - - -PORTFOLIO SECTION- - - - - -*/

.portfolio {
    background-color: #18233f;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
    justify-content: space-evenly;
}

.portfolio__tittle {
    font-size: 3rem;
    margin-bottom: 0;
}

.portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
}

.portfolio__project {
    background-image:linear-gradient(#0009,#0009) ,url("");
    background-position: center;
    background-size: cover;
    display:grid;
    place-content: center;
    border-radius: 12px;
    animation: show both;
    animation-timeline: view();
    animation-range: cover 5% cover 50%;
    text-wrap: balance;
}

.portfolio__project:first-child {
    text-decoration:none;
    color: inherit;
}

.portfolio__project:hover {
    opacity: 0.74;
    outline: 2px solid #fff6;
}

/*- - - - - -PORTFOLIO QUERIES- - - - - -*/

@container portfolio (min-width: 56.25rem) {
    .portfolio__project-container {
        grid-template-columns:repeat(auto-fill,minmax(420px,1fr));
    }
    
    .portfolio__project:first-child {
        grid-column: span 2;
        text-decoration: none;
        color: inherit;
    }

    .portfolio__project:nth-child(6) {
        grid-column: span 2;
    }

}

@container portfolio (min-width: 81.25rem) {
    .portfolio__project-container {
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    }
    
    .portfolio__project:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    .portfolio__project:nth-child(6) {
        grid-column: span 4;
    }

    .portfolio__project:nth-child(6) {
        grid-column: span 4;
    }

    .portfolio__project:nth-child(6) h2 + p {
        text-align: start;
        margin: 10px;
    }
}

/*- - - - - -PORTFOLIO ENDS- - - - - -*/

/*- - - - - - CONTACT SECTION - - - - - -*/

.form {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    container-name:form;
    container-type: inline-size;
    animation: show both;
    animation-timeline: view();
    animation-range: cover 20% contain 40%;
}

.form__form{
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display:grid;
    margin-bottom: 30px;
}

.form__input-container :is(input,textarea) {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    margin-top: 6px;
    border: none;
    box-shadow: 2px 2px 4px #0003;
    background-color: #fffd;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__button-container input[type="submit"] {
    /* Estilos del botón */
    padding: 12px;
    background-color: #48e;
    color: #fff;
    width: 100%;
    font-family: inherit;
    border-color: #48e;
    font-size: inherit;
    box-shadow: 0 0 40px #0002;
    border: none;
}


.form__tittle {
    font-size: 2.4rem;
}

/*- - - - - - CONTACT QUERIES- - - - - -*/

@container form (min-width: 56.25rem) {
    .form__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "name lastname"
        "email email"
        "message message"
        "button button";
        gap: 12px;
        background-image:radial-gradient(#18233f06,#18233f33);
        border-radius: 12px;
        box-shadow: 0 0 40px #0006;
    }

    .form__input-container input:first-child {
        grid-area:name;
    }

    .form__input-container input:nth-child(2) {
        grid-area:lastname;
    }

    .form__input-container input:nth-child(3) {
        grid-area:email;
    }

    .form__input-container input:nth-child(4) {
        grid-area:message;
    }

    .form__button-container{
        grid-area:button;
        display: flex;
        justify-content: center;
    }

    .form__input-container :is(input,textarea) {
        box-shadow: none;
        border-radius: 4px;
    }
}

/*- - - - - - CONTACT ENDS- - - - - -*/

/*- - - - - - FOOTER SECTION - - - - - -*/

footer {
    padding: 60px;
    text-align: center;
    background-color: #18233f;
    color: #fffd;
    font-size: 22px;
}


/*- - - - - - ANIMATIONS - - - - - -*/

@keyframes header-movement {
    from {
        padding: 20px 0;
        background-color: #fff;
        
    }
    to {
        padding: 0;
        background-color: #10163266;
        color: #fff;
    }
}

@keyframes show {
    from {
        
        opacity: 0;
        
    }
    to {
        opacity: 1;
    }
}
/*- - - - - -ACCESIBILITY CONTROLS SECTION- - - - - -*/
.accessibility-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.color-sample {
    display: flex;
    justify-content: space-between;
    margin: 2rem rem;
}

.color-sample div {
    width: 22%;
    height: 50px;
    border-radius: 5px;
    margin: 0 8rem 0 8rem;
}

/*- - - - - - DALTONISMO - - - - - -*/
.color-red { background-color: #FF0000; }
.color-green { background-color: #00FF00; }
.color-blue { background-color: #0000FF; }
.color-yellow { background-color: #FFFF00; }

.protanopia .color-red { background-color: #8B0000; }
.protanopia .color-green { background-color: #8A8A00; }
.protanopia .color-blue { background-color: #0000FF; }
.protanopia .color-yellow { background-color: #8A8A00; }

.deuteranopia .color-red { background-color: #A40000; }
.deuteranopia .color-green { background-color: #A4A400; }
.deuteranopia .color-blue { background-color: #0000FF; }
.deuteranopia .color-yellow { background-color: #A4A400; }

.tritanopia .color-red { background-color: #FF0000; }
.tritanopia .color-green { background-color: #00FFFF; }
.tritanopia .color-blue { background-color: #0000A3; }
.tritanopia .color-yellow { background-color: #FFA3A3; }

/*- - - - - - TAMAÑO FUENTE - - - - - -*/
.large-font {
    font-size: 1.25em;
}
.x-large-font {
    font-size: 1.5em;
}
/*- - - - - - ALTO CONTRASTE - - - - - -*/
.high-contrast {
    background-color: #000;
    color: #fff;
}

/*Declaration Sidebars*/

body {
    --bg-color-sidebar: #e2eaff;
    --sidebar-color: #fff;
    --dark-color: #000;
    --text-color:#444;
    background-color: var(--bg-color-sidebar);
}

.sidebar__tittle {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    color: #000;
}

/*SIDEBAR STYLES*/

.sidebar {
    background-color: var(--sidebar-color);
    position: fixed;
    height: 90dvh;
    width: clamp(300px,50vw,300px);
    font-size: clamp(1rem, 2.2vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 6px;
    z-index: 1;
}

.sidebar__container {
    padding: 20px;
    margin: 20px 0 20px 0;
}

.sidebar__nav {
    flex: 2;
    display: flex;
}

.sidebar__nav ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.sidebar__item {
    list-style: none;
    display: block;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    padding-right: 6px;
    border-radius: 10px;
    color: var(--dark-color);
    position: relative;
    margin: 25px 0 25px 0;
    cursor: pointer;
}

button {
    margin:10px;
    border: none;
    border-radius: 10px;
}

.button-end {
    display: flex;
}

.sidebar__item:hover {
    background-color: var(--bg-color-sidebar);
    color: var(--sidebar-color)
}

.sidebar__item::before,
.sidebar__item::after {
    content: '';
    background-color: var(--bg-color-sidebar);
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
}



/*SIDEBAR PICTURE STYLES*/

.sidebar__picture {
    margin-left: 1.5rem;
    position: relative;
    z-index: 10;
}

.sidebar__picture img {
    width: clamp( 4rem,75%,20rem);
    margin: auto;
    opacity: .82;
    filter: hue-rotate(-22deg);
}

.sidebar__item span {
    padding: 12px;
    font-size: 2rem;
}

.sidebar__item a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/*SIDEBAR PROFILE MENU STYLES*/

.sidebar__profile img {
    border-radius: 50%;
    width: 2rem;
}

.item--profile  .profile-option {
    font-size: .8rem;
    padding: 0 12px 0 9px;
    color: inherit;
}

.item--profile {
    margin: 12px;
    width:fit-content;
    color: var(--text-color);
}

.item--profile:hover img{
    opacity: .7;
    border-radius: 25px;
    color: var(--sidebar-color);
}

.item--profile::before, .item--profile::after {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.sidebar__form {
    position: absolute;
    z-index: 20;
    right: -1rem;
}

.sidebar__form .open-button {
    display: none;
}

.sidebar label {
    position: relative;
    background-color: var(--bg-color-sidebar);
    color: var(--sidebar-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
}

.sidebar label::before,
.sidebar label::after {
    content: '';
    background-color: var(--bg-color-sidebar);
    position: inherit;
    position: absolute;
    width: 10px;
    height: 25px;
    background-color: transparent;
}

.sidebar label::before {
    top: -25px;
    left: 19px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color-sidebar);
}

.sidebar label::after {
    bottom: -25px;
    left: 19px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color-sidebar);
}

input[type="checkbox"]:checked ~ label{
    color: var(--bg-color-sidebar);
    background-color: var(--sidebar-color);
}

input[type="checkbox"]:checked ~ label::after,
input[type="checkbox"]:checked ~ label::before{
    display: none;
}


/*Activar y Desactivar inputs*/
.sidebar:has(input[type="checkbox"]:checked) {
    width: fit-content;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__form .close-button{
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__form .open-button{
    display: block;
}


.sidebar:has(input[type="checkbox"]:checked) .sidebar__form {
    top: 4.8rem;
    width: fit-content;
}

.sidebar:has(input[type="checkbox"]:checked)  .sidebar__picture img {
    max-width: 3.4rem;
}

.sidebar:has(input[type="checkbox"]:checked)  .sidebar__picture {
    margin-left: 0;
}

.sidebar:has(input[type="checkbox"]:checked) picture {
    width: fit-content;
    margin-left: .75rem;
}

.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__item a, 
.profile-option) {
    display: none;
}