/* - - - - - - GENERAL - - - - - - */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: #000;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e2eaff;
}

.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    padding: 0px 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}

.text--blue {
    color: #48e;
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 16px;
}

.text-lg {
    font-size: 20px;
}

.text-xl {
    font-size: 24px;
}

.text-2xl {
    font-size: 32px;
}

.text-3xl {
    font-size: 48px;
}

.text-4xl {
    font-size: 64px;
}

/*- - - - - -HEADER SECTION- - - - - -*/

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo {
    width: 60px;
    height: 60px;
    padding: 5px 0px;
}

#header__desktop {
    display: none;
}

/*- - - - - -HEADER QUERIES- - - - - -*/
@media screen and (min-width: 600px) {

    #header__desktop {
        display: block;
    }

    #header__mobile {
        display: none;
    }
}

/*- - - - - - HERO SECTION - - - - - -*/

.accesibility-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.accesibility-controls__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.color-sample div {
    flex-grow: 1;
    height: 50px;
    min-width: 100px;
    border-radius: 5px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile__data {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 40px #0002;
    height: fit-content;
}

/*- - - - - - HERO SECTION QUERIES  - - - - - -*/

@media screen and (min-width: 900px) {
    .profile {
        flex-direction: row;
    }

    .accesibility-controls {
        flex-direction: row;
    }
}


/*- - - - - - FOOTER SECTION - - - - - -*/

footer {
    background-color: #18233f;
    color: #fffd;
    padding: 20px 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}


/*- - - - - - DALTONISMO - - - - - -*/

.color-red { background-color: #FF0000; }
.color-green { background-color: #00FF00; }
.color-blue { background-color: #0000FF; }
.color-yellow { background-color: #FFFF00; }

.protanopia .color-red { background-color: #8B0000; }
.protanopia .color-green { background-color: #8A8A00; }
.protanopia .color-blue { background-color: #0000FF; }
.protanopia .color-yellow { background-color: #8A8A00; }

.deuteranopia .color-red { background-color: #A40000; }
.deuteranopia .color-green { background-color: #A4A400; }
.deuteranopia .color-blue { background-color: #0000FF; }
.deuteranopia .color-yellow { background-color: #A4A400; }

.tritanopia .color-red { background-color: #FF0000; }
.tritanopia .color-green { background-color: #00FFFF; }
.tritanopia .color-blue { background-color: #0000A3; }
.tritanopia .color-yellow { background-color: #FFA3A3; }

/*Declaration Sidebars*/

body {
    --bg-color-sidebar: #e2eaff;
    --sidebar-color: #fff;
    --dark-color: #000;
    --text-color: #444;
    background-color: var(--bg-color-sidebar);
}

.sidebar__tittle {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: #000;
}

/* SIDEBAR STYLES */

.sidebar {
    background-color: var(--sidebar-color);
    position: fixed;
    width: fit-content; /* Cambiado para ser fit-content por defecto */
    bottom: 5em; /* Se posiciona en la parte inferior */
    left: 1em; /* Se posiciona en la parte izquierda */
    font-size: clamp(1rem, 2.2vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    margin-left: 1em;
}

.sidebar__nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    overflow: hidden; /* Ocultar contenido hasta que se abra */
}

.sidebar__nav ul {
    display: flex;
    flex-direction: row; /* Mostrar elementos en fila */
    justify-content: center;
}

.sidebar__item {
    list-style: none;
    display: block;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    padding-right: 6px;
    border-radius: 10px;
    color: var(--dark-color);
    position: relative;
    cursor: pointer;
    gap: 10px;
}

.button-end {
    display: flex;
}

.sidebar__item:hover {
    background-color: var(--bg-color-sidebar);
    color: var(--sidebar-color);
}

.sidebar__item span {
    padding: 15px;
    font-size: 2rem;
}

.sidebar__item a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.sidebar__form {
    position: absolute;
    z-index: 20;
    right: -1rem;
}

.sidebar__form .open-button {
    display: none;
}

.sidebar label {
    position: relative;
    background-color: var(--bg-color-sidebar);
    color: var(--sidebar-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
}

.sidebar label::before,
.sidebar label::after {
    content: '';
    background-color: var(--bg-color-sidebar);
    position: inherit;
    position: absolute;
    width: 10px;
    height: 25px;
    background-color: transparent;
}

.sidebar label::before {
    top: -25px;
    left: 19px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color-sidebar);
}

.sidebar label::after {
    bottom: -25px;
    left: 19px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color-sidebar);
}

input[type="checkbox"]:checked ~ label {
    color: var(--bg-color-sidebar);
    background-color: var(--sidebar-color);
}

input[type="checkbox"]:checked ~ label::after,
input[type="checkbox"]:checked ~ label::before {
    display: none;
}

/* Cambios cuando el checkbox está marcado */

input[type="checkbox"]:checked ~ .sidebar {
    width: 100vw; /* Sidebar expandido a todo el ancho de la pantalla */
    height: 100vh; /* Sidebar expandido a toda la altura de la pantalla */
    left: 0; /* Posiciona en la parte izquierda sin margen */
    right: 0; /* Ocupa todo el ancho */
    bottom: 0; /* Alineado en la parte inferior */
    border-radius: 0; /* Sin bordes redondeados cuando se expande */
}

input[type="checkbox"]:checked ~ .sidebar__nav ul {
    flex-direction: column;
    width: 100%;
}

input[type="checkbox"]:checked ~ .sidebar__item {
    opacity: 1; /* Mostrar elementos del menú */
}

input[type="checkbox"]:checked ~ .sidebar__form .open-button {
    display: block; /* Ocultar botón de apertura */
}

input[type="checkbox"]:checked ~ .sidebar__form .close-button {
    display: none; /* Mostrar botón de cierre */
}


input[type="checkbox"]:checked ~ .sidebar .sidebar__form {
    top: 4.8rem;
    width: fit-content;
}

/* Ocultar elementos del menú */
.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__item a, 
.profile-option, .sidebar__tittle, .button-end) {
    display: none;
}
